<a href="https://colab.research.google.com/github/rogernogueira/camp/blob/main/Listas_parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista_nome = []

In [ ]:
lista_nomes = ['Roger', 'Ana', 'David', 'antonio', 'Alan']
lista_idades = [20, 30, 22, 21, 29]
lista_pesos = [70, 74, 73, 81, 68]
lista_altura = ['1.67', '2', '1.68', '1.71', '1.8']

In [ ]:
def normatiza_nome(nome):
  return nome.lower()

In [ ]:
def kilo_to_grama(peso):
  return peso*1000

In [ ]:
def str_to_float(lista_altura):
  lista_altura_float = []
  for altura in lista_altura:
    altura = float(altura)
    lista_altura_float.append(altura)
  return lista_altura_float

In [ ]:
normatiza_nome('Roger')

'roger'

In [ ]:
lista_nomes_normatizado = []
for nome in lista_nomes:
  nome = normatiza_nome(nome)
  if nome != 'david':
      lista_nomes_normatizado.append(nome)

  print(nome)

roger
ana
david
antonio
alan

In [ ]:
lista_nomes

['Roger', 'Ana', 'David', 'Antonio', 'Alan']

In [ ]:
lista_nomes_normatizado

['roger', 'ana', 'antonio', 'alan']

In [ ]:
lista_peso_grama = []
for peso in lista_pesos:
  peso = kilo_to_grama(peso)
  lista_peso_grama.append(peso)

In [ ]:
lista_peso_grama

[70000, 74000, 73000, 81000, 68000]

In [ ]:
lista1 = str_to_float(lista_altura)

In [ ]:
lista1

[1.67, 2.0, 1.68, 1.71, 1.8]

In [ ]:
lista_altura

['1.67', '2', '1.68', '1.71', '1.8']

In [ ]:
max(lista1)

2.0

In [ ]:
min(lista1)

1.67

In [ ]:
lista_pessoas = [lista_nomes_normatizado, lista_idades, lista_altura]

In [ ]:
lista_pessoas

[['roger', 'ana', 'antonio', 'alan'],
 [20, 30, 22, 21, 29],
 ['1.67', '2', '1.68', '1.71', '1.8']]

In [ ]:
lista_pessoas[0][0]

'roger'

In [ ]:
lista_pessoas[1][1]

30

In [ ]:
lista_pessoas[2][3]

'1.71'

In [ ]:
lista_nomes_normatizado.insert(1,'David')

In [ ]:
lista_nomes_normatizado

['roger', 'David', 'ana', 'antonio', 'alan']

In [ ]:
lista_pessoas

[['roger', 'David', 'ana', 'antonio', 'alan'],
 [20, 30, 22, 21, 29],
 ['1.67', '2', '1.68', '1.71', '1.8']]

In [ ]:
lista1 = ['a', 'b']

In [ ]:
lista2  = lista1

In [ ]:
lista2.append('c')

In [ ]:
lista2

['a', 'b', 'c']

In [ ]:
lista1

['a', 'b', 'c']

In [ ]:
lista1 = lista2.copy()

In [ ]:
lista1

['a', 'b', 'c']

In [ ]:
lista2.append('d')

In [ ]:
lista2

['a', 'b', 'c', 'd']

In [ ]:
lista1

['a', 'b', 'c']

In [ ]:
lista_pessas

[['roger', 'David', 'ana', 'antonio', 'alan'],
 [20, 30, 22, 21, 29],
 ['1.67', '2', '1.68', '1.71', '1.8']]

In [ ]:
lista_pessoas[2][4]

'1.8'

In [ ]:
enumerate(lista_nomes)

In [ ]:
for i, nome  in enumerate(lista_nomes):
  print('index :', i)
  print('nome :', nome)

index : 0
nome : Roger
index : 1
nome : Ana
index : 2
nome : David
index : 3
nome : antonio
index : 4
nome : Alan

In [ ]:
for i, nome  in enumerate(lista_nomes):
  print(f"Nome : {nome}")
  print(f'Idade : {lista_pessoas[1][i]}')
  print(f'Altura : {lista_pessoas[2][i]}')
  print('---'*20)

Nome : Roger
Idade : 20
Altura : 1.67
------------------------------------------------------------
Nome : Ana
Idade : 30
Altura : 2
------------------------------------------------------------
Nome : David
Idade : 22
Altura : 1.68
------------------------------------------------------------
Nome : antonio
Idade : 21
Altura : 1.71
------------------------------------------------------------
Nome : Alan
Idade : 29
Altura : 1.8
------------------------------------------------------------

In [ ]:
lista_pessoas.append(lista_pesos)

In [ ]:
lista_pessoas

[['roger', 'David', 'ana', 'antonio', 'alan'],
 [20, 30, 22, 21, 29],
 ['1.67', '2', '1.68', '1.71', '1.8'],
 [70, 74, 73, 81, 68]]

In [ ]:

lista_imc = []
for i, nome  in enumerate(lista_nomes):
  print(f"Nome : {nome}")
  print(f'Idade : {lista_pessoas[1][i]}')
  print(f'Altura : {lista_pessoas[2][i]}')
  print(f'Peso : {lista_pessoas[3][i]}')
  peso = lista_pessoas[3][i]
  altura = float(lista_pessoas[2][i])
  imc = peso/(altura * altura)
  print(f'IMC : {imc}')

  print('---'*20)

Nome : Roger
Idade : 20
Altura : 1.67
Peso : 70
IMC : 25.099501595611173
------------------------------------------------------------
Nome : Ana
Idade : 30
Altura : 2
Peso : 74
IMC : 18.5
------------------------------------------------------------
Nome : David
Idade : 22
Altura : 1.68
Peso : 73
IMC : 25.86451247165533
------------------------------------------------------------
Nome : antonio
Idade : 21
Altura : 1.71
Peso : 81
IMC : 27.70083102493075
------------------------------------------------------------
Nome : Alan
Idade : 29
Altura : 1.8
Peso : 68
IMC : 20.98765432098765
------------------------------------------------------------

In [ ]:
lista_pessoas

[['roger', 'David', 'ana', 'antonio', 'alan'],
 [20, 30, 22, 21, 29],
 ['1.67', '2', '1.68', '1.71', '1.8'],
 [70, 74, 73, 81, 68]]